

@import "compass/support";
@import "compass/reset";
@import "compass/css3";
@import "rgbapng";
@import "compass/utilities/sprites";
@import "compass/utilities/general/clearfix";
@import "sprites/*.png";

@include all-sprites-sprites;

$default-transition-delay    : false;
$webkit-font-smoothing       : true;

/* Fonts */

//@include font-face("GothamRounded-Book", font-files("GothamRounded-Book.ttf", "GothamRounded-Book.woff", "GothamRounded-Book.svg"), "GothamRounded-Book.eot");

$sans: 'PT Sans', sans-serif;


/* Colors */

$text: #000000;
$red: #bb0023;
$white: #ffffff;
$bg: #e6e3de;
$bg_nav: #f4f4f4;
$bg_link: #d0cac3;

/* Font */

$DIN_reg: 'DIN Next W01 Regular';
$DIN_light: 'DIN Next W01 Light';
$Bembo_italic: 'Bembo MT W01 Italic';
$Bembo: 'Bembo W01';
$Prox_light: 'Proxima N W01 Light';
$Prox_reg: 'Proxima N W01 Reg';



