/********* COMMON *********/
* {
    text-decoration: none;
}

html, body{
    width:100%;
    height: 100%!important;
    font-family: $sans;
}

h1,h2,h3,h4,h5{
    font-weight: 300;
}

p {
    font-size: 14px;
}

a {
    color: #000222;
    cursor: pointer;
}

body {
    display: block;
    background: #fff;
    @if $webkit-font-smoothing { -webkit-font-smoothing: antialiased; }
    color:  #000222;
}

input,textarea,button {
	border: none;
}

input:focus,textarea:focus,button:focus {
	outline: none;
}

ul li{
	list-style: none;
}

input, textarea {

    @include border-radius(0);
}

