.open{
    @include visible;
    height: inherit;
}

.hidden {
    @include hidden;
}

.b-block-top-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 1485px;
    height: 552px;
}

.b-visible {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 1.4s ease 0s, visibility 1.4s ease 0s, all 1.4s ease 0s);
    @include transform(translateY(45px));
}

.b-waypoint {
    opacity: 1;
    visibility: visible;
    @include transform(translateY(0));
}

/* ==========================================================================
   HEADER
   ========================================================================== */

.b-preloader {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $bg_nav;
    width: 100%;
    height: 100%;
    z-index: 99;

    span {
        @include sprite-link(logo-pre);
        margin: -43.5px auto;
        position: relative;
        top: 50%;
        @include animation(animationFrames ease 1s);
        @include animation-iteration-count(infinite);
    }

    @-webkit-keyframes animationFrames {
        0% {
            opacity:1;
        }
        50% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
}

.b-header {
    width: 100%;
    height: 131px;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: height 0.2s ease 0s;
}

.b-header__block-logo {
    background-color: $bg_nav;
    width: 32.22222222222222%;
    float: left;
    height: 131px;
    @include transition (opacity 0.4s ease 0.1s, height 0.4s ease 0s);
}

.b-header__block-logo.open {
    opacity: 0;
}

.b-logo {
//    @include sprite-link(logo);
    float: right;
    margin: 17px 35px 17px 0;

    img {
//        width: 135px;
        width: 130px;
//        height: 99px;
        @include transition(all 0.4s ease 0s);
    }
}

.b-header__block-nav {
    background-color: $bg;
    width: 67.77777777777778%;
    float: right;

    ul {
        margin: 0 0 0 48px;
        width: 550px;
        font-family: $DIN_reg;
        letter-spacing: 2px;
    }

    li {
        display: inline-block;
        font-size: 14px;
        @include transition(all 0.4s ease 0s);
        float: left;

        a {
            color: $text;
            text-transform: uppercase;
            padding: 58px 15px 59px;
            display: inline-block;
            @include transition(all 0.4s ease 0s);
        }

        &:hover {
            background-color: #f3f1ed;
        }
    }

    .current-menu-item {
        background-color: #f3f1ed;
    }

    .b-button {
        display: none;
    }
}

.b-header__button {
    width: 282px;
    text-transform: uppercase;
    margin-right: 14px;
    position: absolute;
    right: 0;

    a {
        color: $text;
        font-size: 12px;
        background-color: $white;
        padding: 10px 17px;
        display: inline-block;
        float: left;
        font-family: $DIN_reg;
        letter-spacing: 1.5px;
    }

    ul {
        width: 105px;
        margin: 0;
        letter-spacing: 1.5px;
        position: fixed;
        right: 14px;
        height: 32px;
        overflow: hidden;
        z-index: 15;

        &:after {
            content: '';
            position: absolute;
            top: 14px;
            right: 15px;
            height: 0;
            width: 0;
            border: 3px solid transparent;
            border-top-color: #acacac;
        }
    }

    li {
        margin-left: 0;
        padding: 0;

        a {
            position: relative;
            padding: 10px 34px 10px 15px;
            width: 56px;

            &:first-child {

            }
        }
    }

    ul.open {
        height: inherit;
    }
}

.b-mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 768px;
    width: 100%;
    height: 100%;
    background-color: $bg;
    z-index: 15;
    @include transition (all 0.4s ease 0s);

    ul {
        text-align: center;
        height: 100%;
        vertical-align: middle;
        display: table-cell;

        li {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.b-mobile-menu.open {
    left: 0;
    height: 100% !important;
}

/* ==========================================================================
   HEADER PROJECT
   ========================================================================= */
.b-header_project {
    height: 64px;

    .b-logo_project {
         @include sprite-link(logo-project);
         margin: 11px 35px 9px 0;
    }

    .b-logo {
        margin: 10px 38px 17px 0;

        img {
            width: 95px;
//            height: 70px;
        }
    }

    .b-header__block-nav {
        ul {
            li {
               a {
                   padding: 25px 15px 25px;
               }
            }
        }
    }

    .b-header__button {
        display: none;
    }

    .b-header__block-logo {
        height: 64px;
    }

    .b-logo_project {
        float: right;
    }
}


/* ==========================================================================
   FOOTER
   ========================================================================== */

.b-footer {
    padding: 80px 0 124px 0;
    overflow: hidden;
    background-color: $bg_nav;
    position: relative;
    width: 100%;
//    bottom: 0;
}

.b-footer__block {
    width: 100%;
    max-width: 965px;
    margin: 0 auto;
    overflow: hidden;
}

.b-footer__logo {
    @include sprite-link(logo-pre);
    float: left;
    margin-top: 3px;
}

.b-footer__contact {
    float: right;
    color: $text;
    margin-top: 10px;

    p {
        line-height: 24px;
        font-size: 14px;
        font-family: $Prox_light;

        a {
            line-height: 24px;
            font-size: 14px;
            font-family: $Prox_light;
            text-decoration: none;
        }
    }

    a {
        font-size: 16px;
        text-decoration: underline;
        display: inline-block;
        margin: 30px 13px 0 0;
        font-family: $Bembo_italic;

        &:hover {
            text-decoration: none;
        }
    }
}

/* ==========================================================================
   FOOTER PROJECT
   ========================================================================== */

.b-footer_project {
    padding: 17px 0 17px 0;
    position: fixed;
    bottom: 0;

    .b-footer__block {
        @include hidden;
        height: 0;
        @include transition (all 0.4s ease 0.1s);
        margin: 0 auto;
        float: left;
        overflow-y: auto;
        text-align: center;
        margin-top: 10px;

        a {
            display: inline-block;
            margin-top: 14px;
        }
    }

    .b-footer__block.open {
        height: 88px;
        @include visible;
        @include transition (all 0.4s ease 0s);
    }

    .b-close {
        float: right;
        margin-right: 46px;
        font-family: $DIN_reg;
        font-size: 13px;
        margin-top: 4px;
        @include hidden;
        @include transition (all 0.4s ease 0s);
    }

    .b-close.open {
        @include visible;
    }
}

.b-footer__project {
    width: 100%;
    max-width: 965px;
    margin: 0 auto;
    position: relative;
}

.b-footer__project-title {
    float: left;

    span {
        font-family: $Bembo_italic;
        font-size: 16px;
        display: inline-block;
    }

    p {
        font-family: $DIN_reg;
        font-size: 13px;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 15px;
    }
}

.b-footer__project-btn {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 0;
    top: -7px;
    cursor: pointer;

    span {
        width: 13px;
        height: 13px;
        background-color: #898989;
        display: inline-block;
        float: left;
        margin: 0 4px 4px 0;
    }
}


/* ==========================================================================
   HOME PAGE
   ========================================================================== */

.c-wrapper {
//    position: relative;
//    padding-bottom: 346px;
    height: 100%;

    a {
        outline: 0;
    }
}

.b-content {
    width: 100%;
    color: $text;
//    padding-bottom: 332px;
    margin-top: 131px;
}

.b-slider-container {
    width: 20000em;
    position: relative;
    overflow: hidden;
}

.b-slider {
    width: 100%;
    overflow: hidden;
}

.b-slide {
    width: 100vw;
    height: 690px;
//    max-height: 690px;
    overflow: hidden;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
//
//    img {
//        width: 100%;
//        height: 100%;
//    }
}

.b-slider-nav {
    background-color: $bg;
    margin-top: -2px;
    overflow: hidden;
    padding: 17px 0;

    .b-slider-nav__block {
        width: 100%;
        max-width: 965px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }

//    h3 {
//        float: left;
//        font-size: 16px;
//        font-family: $Bembo_italic;
//        position: absolute;
//        opacity: 0;
//        visibility: hidden;
//        @include transition(all 0.4s ease 0s);
//    }
//
//    h3.active {
//        opacity: 1;
//        visibility: visible;
//        border: 0px solid #b5b3ae;
//    }

    ul {
//        float: right;

        li {
            display: inline-block;
            width: 13px;
            height: 13px;
            background-color: $white;
            border-radius: 100%;
            border: 2px solid $bg;
            cursor: pointer;
            margin-right: 15px;
        }
    }

    .active {
        border: 2px solid #b5b3ae;
    }
}

.b-slider-block {
    overflow: hidden;
}

.b-heading-block {
    text-align: center;
    padding: 99px 0;

    h2 {
        color: $text;
        font-size: 14px;
        font-family: $DIN_reg;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.b-home-preview__item {
    color: $text;
    overflow: hidden;
    margin-top: 10px;

    &:first-child {
        margin-top: 0;
    }

    .b-home-preview__item-img {
        float: left;
        width: 50%;
        position: relative;
        overflow: hidden;
        height: 567px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 100%;
            min-height: 100%;
            @include transition (all 0.6s ease 0s);

            &:hover {
                @include transform (scale(1.1));
            }
        }
    }

    .b-home-preview__item-content {
        float: right;
        width: 50%;
        background-color: $bg;
        height: 567px;
        text-align: center;
        @include transition(background-color 0.6s ease 0s);

        span {
            margin-top: 204px;
            font-size: 14px;
            display: block;
            position: relative;
            padding-bottom: 13px;
            font-family: $DIN_reg;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 34px;
                background-color: #000;
                left: 50%;
                margin-left: -17px;
            }
        }

        p {
            margin-top: 45px;
            font-size: 24px;
            font-family: $Bembo_italic;
        }

        h3 {
            margin-top: 20px;
            font-size: 34px;
            font-family: $DIN_light;
        }

        &:hover {
            background-color: darken( $bg, 7%);
        }
    }
}

/* ==========================================================================
   PORTFOLIO PAGE
   ========================================================================== */

.b-content_portfolio {
//    margin-top: 203px;
    margin-top: 0;
    padding-top: 134px;
}

.b-portfolio-item {
    overflow: hidden;
    margin-bottom: 72px;

    &:first-child {
        margin-top: 72px;
    }

    .b-portfolio-item__text {
        float: left;
        color: $text;
        width: 25%;
        height: 581px;
        text-align: center;

        span {
            font-family: $Bembo_italic;
            font-size: 16px;
            display: inline-block;
            margin: 218px 0 0 0;
        }

        h3 {
            font-family: $DIN_reg;
            font-size: 13px;
            text-transform: uppercase;
            width: 100%;
            max-width: 320px;
            letter-spacing: 2px;
            margin: 28px auto 0;
            line-height: 23px;
        }

        .b-portfolio-item__text-img {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: #e4e2df;
            margin: 29px auto 0;
            position: relative;
            display: block;
            outline: 0;

            &:after {
                content: '';
                position: absolute;
                @include sprite-link(portfolio-link);
                top: 50%;
                left: 50%;
                margin: -7px 0 0 -3.5px;
            }
        }
    }

    .b-portfolio-item__img {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 71%;
        float: right;
        margin-right: 4%;
        overflow: hidden;
        position: relative;
        height: 581px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

/* ==========================================================================
   SERVICES PAGE
   ========================================================================== */

.b-content_services {
    margin-top: 152px;
}

.b-block-top-img_services {
    background: generated-image-url("dump/services-img1.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 1485px;
    height: 552px;
}

.b-block-top-img {
    width: 100%;
    max-width: 1490px;
    margin: 21px auto 0;
    max-height: 553px;
    overflow: hidden;
}

.b-block-top-img__img {
    width: 100%;
}

.b-block-bottom-content {
    position: relative;
    overflow: hidden;
    height: 947px;
    padding-top: 70px;
}

.b-block-bottom-content__left {
    width: 50%;
    height: 100%;
    float: left;
    z-index: 5;
    position: relative;
}

.b-block-bottom-content__right {
    width: 50%;
    height: 100%;
    float: right;
}

.b-block-bottom-content__left-top {
    color: $text;
    margin: 65px 22% 0 0;
    float: right;

    span {
        font-family: $Bembo_italic;
        font-size: 26px;
    }

    ul {
        font-family: $Prox_reg;
        font-size: 15px;

        li {
            line-height: 26px;
            list-style: initial;
            margin-left: 35px;
        }
    }
}

.b-block-bottom-content__left-bottom {
    margin: 30px -9% 0 0;
    float: right;
    @include clearfix;

    img {
        max-width: 90%;
    }
}

.b-block-bottom-content__right-top {
    margin:  51px 0 0 -9%;

    img {
        max-width: 90%;
    }
}

.b-block-bottom-content__right-bottom {
    margin: 55px 0 0 14%;

    span {
        font-family: $Bembo_italic;
        font-size: 26px;
        margin-bottom: 31px;
        display: block;
    }

    p {
        font-family: $Prox_reg;
        font-size: 15px;
        margin-bottom: 34px;
    }
}

/* ==========================================================================
   PROJECT PAGE
   ========================================================================== */

.b-content_project {
//    margin-top: 64px;
    margin-top: 24px;
    padding-top: 40px;
}

.c-wrapper_project {
    overflow-y: hidden;
}

.b-slider-container_project-page {
    background-color: #000;
//    @include transition(margin-left 0.4s ease 0s);
}

.b-content_project {
    padding-bottom: 0;

    .b-slide__project {
        height: 100%;
        max-height: none;
        width: 100%;
        max-width: 100vw;
        text-align: center;
        @include transition(all 0.4s ease 0.05s);

//        img {
//            @include transition(all 0.4s ease 0.05s);
//        }
//
//        img.open {
//            width: 91%;
//            @include transition(all 0.4s ease 0.05s);
//        }
    }

    .b-slide__project.open {
//        background-size: 90% 100%;
        max-width: 92vw;
        margin: 0 4vw;
    }

    .b-prev {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: #e4e2df;
        position: fixed;
        display: block;
        top: 50%;
        left: 40px;
        margin-top: -17px;
        opacity: 0.5;
        outline: 0;

        &:after {
            content: '';
            position: absolute;
            @include sprite-link(prev);
            top: 50%;
            left: 50%;
            margin: -7px 0 0 -6.5px;
        }
    }

    .b-next {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: #e4e2df;
        position: fixed;
        display: block;
        top: 50%;
        right: 40px;
        margin-top: -17px;
        opacity: 0.5;
        outline: 0;

        &:after {
            content: '';
            position: absolute;
            @include sprite-link(next);
            top: 50%;
            left: 50%;
            margin: -7px 0 0 -3.5px;
        }
    }
}

/* ==========================================================================
   SPLASH PAGE
   ========================================================================== */
.b-header_splash,
.b-footer_splash {
    display: none;
}

.b-content_splash {
    margin-top: 0;
}

.c-wrapper_splash {
    height: 100%;
}

.b-content_splash {
    padding-bottom: 0;
    height: 100%;
    position: relative;
}

.b-index-page {
    height: 100%;
}

.b-index-page__left {
    width: 50%;
    float: left;
    background-color: $white;
    text-align: center;
    height: 100%;
    position: relative;

    div {
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -100px;

        span {
            font-family: $Bembo_italic;
            font-size: 23px;
            position: relative;
            padding-bottom: 31px;
            display: inline-block;

            &:after {
                content: '';
                position: absolute;
                width: 35px;
                height: 1px;
                background-color: #898989;
                left: 50%;
                margin-left: -17px;
                bottom: 0;
            }
        }

        p {
            font-family: $DIN_reg;
            font-size: 13px;
            letter-spacing: 2px;
            margin-top: 33px;
        }

        a {
            width: 100%;
            max-width: 195px;
            background-color: $bg_link;
            display: inline-block;
            font-family: $DIN_reg;
            font-size: 16px;
            padding: 17px 0 15px;
            text-align: center;
            margin-top: 53px;
            letter-spacing: 2px;
            @include transition (all 0.4s ease 0s);


            &:first-child {
                margin-right: 15px;
            }

            &:hover {
                background-color: darken( $bg-link, 7%);
            }
        }
    }
}

.b-index-page__right {
    width: 50%;
    float: right;
    height: 100%;
    position: relative;
}

.b-block-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    overflow: hidden;

    .b-block-top__bg {
        background-image: generated-image-url('dump/splash-1.jpg');
        background-position: center 80%;
        opacity: 0.4;
        height: 100%;
        @include transition (all 0.6s ease 0s);
    }

    .b-block-top__link {
        width: 100%;
        max-width: 245px;
        height: 171px;
        background-color: $bg_link;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -85px 0 0 -122px;
        border: 1px solid $white;
        text-align: center;

        span {
            @include sprite-link(splash-link1);
            display: inline-block;
            margin-top: 45.5px;
        }
    }

    &:hover {
          .b-block-top__bg {
              opacity: 1;
              @include transform(scale(1.1));
          }
    }
}


.b-block-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    overflow: hidden;

    .b-block-bottom__bg {
        background-image: generated-image-url('dump/splash-2.jpg');
        background-position: 25% 45%;
        opacity: 0.4;
        height: 100%;
        @include transition (all 0.6s ease 0s);
    }

    .b-block-bottom__link {
        width: 100%;
        max-width: 245px;
        height: 171px;
        background-color: $bg_link;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -85px 0 0 -122px;
        border: 1px solid $white;
        text-align: center;

        span {
            @include sprite-link(splash-link2);
            display: inline-block;
            margin-top: 45.5px;
        }
    }

    &:hover {
        .b-block-bottom__bg {
            opacity: 1;
            @include transform(scale(1.1));
        }
    }
}

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */

.b-content_about {
    margin-top: 152px;
}

.b-block-top-img_about {
    background: generated-image-url("dump/about-top.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 1485px;
    height: 552px;
}

.b-block-bottom-content__left-top_about {
    margin: 65px -3% 0 0;

    span {
        width: 100%;
        max-width: 395px;
        display: block;
        line-height: 31px;
    }
}

.b-block-bottom-content__left-bottom_about {
    margin: 50px 8% 0 0;

    p {
        width: 100%;
        max-width: 385px;
        margin-bottom: 25px;
        line-height: 26px;
    }
}

.b-block-bottom-content__right-top_about {
    margin: 185px 0 0 -1%;
}

/* ==========================================================================
   404 PAGE
   ========================================================================== */

.b-content_error {
    margin-top: 0;
//    height: 70.2%;
    min-height: 100%;
    margin-bottom: -332px;
}

.b-error-container {
    background: generated-image-url('dump/error.jpg') no-repeat center center fixed;
    @include background-size (cover);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.b-error-container__left {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;

    p {
        position: absolute;
        top: 207px;
        right: -2.5%;
        color: #f3f1ed;
        font-family: $DIN_reg;
        font-size: 150px;
        font-weight: bold;

        em {
            font-size: 26px;
            font-weight: normal;
            text-transform: uppercase;
        }
    }
}

.b-error-container__right {
    width: 50%;
    float: right;
    height: 100%;
    position: relative;

    p {
        position: absolute;
        top: 335px;
        left: -10%;
        color: #f3f1ed;
        font-family: $Bembo_italic;
        font-size: 26px;
        width: 100%;
        max-width: 240px;
        line-height: 28px;

        em {
            display: block;
        }
    }
}

/* ==========================================================================
   CONTACT PAGE
   ========================================================================== */

.b-content_contact {
    margin-top: 152px;
}

.b-block-bottom-content_contact {
    width: 100%;
    max-width: 965px;
    margin: 0 auto;
    height: inherit;
    padding: 60px 0 90px;

    h3 {
        font-family: $Bembo_italic;
        font-size: 26px;
        margin: 70px 0 39px 18px;
        display: block;
    }
}

.b-block-contact {
    text-align: left;
    margin-left: 10px;
    width: 100%;
    max-width: 375px;

    span {
        font-family: $Bembo_italic;
        font-size: 26px;
        display: block;
        margin-bottom: 20px;
    }

    p {
        font-family: $Prox_reg;
        line-height: 20px;
        font-size: 13px;
        display: inline-block;
    }
}

.b-block-contact__address {
    display: inline-block;
    width: 150px;
    margin-right: 35px;
}

.b-block-contact__phone {
    display: inline-block;
    width: 165px;
}

.b-block-contact-form {
    margin: 0 0 0 18px;
    width: 100%;
    max-width: 600px;

    label {
        font-family: $Prox_reg;
        font-size: 18px;
        margin-bottom: 22px;
        display: inline-block;
    }

    .b-label-top {
        float: right;
    }

    input {
        width: 100%;
        max-width: 557px;
        height: 65px;
        background-color: #f3f1ed;
        border: 1px solid #afafaf;
        margin-bottom: 23px;
        padding: 0 20px;
        font-size: 18px;
        font-family: $Prox_reg;
        position: relative;
    }

    .wpcf7-not-valid-tip {
        position: absolute;
        top: -15px;
        right: 5px;
    }

    select {
        width: 100%;
        max-width: 597px;
        height: 66px;
        background-color: #f3f1ed;
        border: 1px solid #afafaf;
        margin-bottom: 25px;
        @include appearance(none);
        padding: 0 20px;
        font-size: 18px;
        font-family: $Bembo_italic;
    }

    .b-select-bock {
        position: relative;
        width: 100%;
        max-width: 597px;
        margin-bottom: 0;
        line-height: 0;

//        &:before {
//            content: '';
//            border-bottom: 1px solid #afafaf;
//            border-top: 1px solid #afafaf;
//            height: 12px;
//            width: 36px;
//            position: absolute;
//            top: 20px;
//            right: 24px;
//            z-index: 25;
//        }
//
//        &:after {
//            content: '';
//            background-color: #afafaf;
//            height: 1px;
//            width: 36px;
//            position: absolute;
//            top: 46px;
//            right: 24px;
//            z-index: 25;
//        }
    }

    textarea {
        background-color: #f3f1ed;
        border: 1px solid #afafaf;
        width: 100%;
        max-width: 557px;
        height: 193px;
        resize: none;
        padding: 20px;
        font-size: 18px;
        font-family: $Prox_reg;
    }

    button {
        background-color: #626262;
        width: 100%;
        max-width: 588px;
        height: 50px;
        margin: 45px 0 0 5px;
        color: $white;
        font-family: $Prox_reg;
        font-size: 16px;
    }

    .chosen-container-single {
        position: relative;
        width: 100% !important;
        max-width: 597px;

        &:before {
            content: '';
            border-bottom: 1px solid #afafaf;
            border-top: 1px solid #afafaf;
            height: 12px;
            width: 36px;
            position: absolute;
            top: 20px;
            right: 24px;
            z-index: 25;
        }

        &:after {
            content: '';
            background-color: #afafaf;
            height: 1px;
            width: 36px;
            position: absolute;
            top: 46px;
            right: 24px;
            z-index: 25;
        }
    }

    .chosen-single {
        position: absolute;
        font-family: $Bembo_italic;
        font-size: 18px;
        top: 35px;
        left: 20px;
    }

    .chosen-results {
        display: none;
        position: absolute;
        bottom: -114px;
        left: 0;
        z-index: 50;
        background-color: #f3f1ed;
        border: 1px solid #afafaf;

        li {
            line-height: 65px;
            padding-left: 20px;

            &:hover {
                background-color: #1e90ff;
                color: $white;
            }
        }
    }

    .chosen-search {
        input {
            cursor: default;
            margin-bottom: 17px;
            position: inherit;
        }
    }

    .chosen-results.open {
        display: block;
        width: 100%;
    }
}

div.wpcf7-validation-errors {
    display: none !important;
}

.wpcf7-form.sent {
    p,
    div {
        display: none;
    }
}

.wpcf7-mail-sent-ok {
    border: 0px solid #fff !important;
    display: block !important;
}