@media only screen and (max-width : 1400px) {

    // HEADER //

//+

    // FOOTER //

    .b-footer__block {
        width: 96%;
    }

    .b-footer__logo {
        @include sprite-link(logo-mobile);
        margin-top: 16px;
        background-size: initial;
    }

    // PORTFOLIO PAGE //

    .b-portfolio-item {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto 45px;

        .b-portfolio-item__img {
            width: 100%;
            float: none;
        }

        .b-portfolio-item__text {
            float: none;
            width: 100%;
            height: inherit;
            position: relative;
            padding-bottom: 37px;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: #b7b7b7;
            }

            span {
                margin-top: 40px;
            }
        }
    }
}

@media only screen and (max-width : 1024px) {
    .b-content_error {
        min-height: 120%;
    }

    .b-error-container {
        text-align: center;
        min-height: 250px;
        height: 120%;
    }

    .b-error-container__left,
    .b-error-container__right {
        float: none;
        width: 100%;
        overflow: hidden;
        height: initial;

        p {
            position: relative;
            top: 0;
            left: 0;
            overflow: hidden;
        }
    }

    .b-error-container__left {
        margin-top: 145px;
    }

    .b-error-container__right {
        p {
            margin: 0 auto;
            text-align: left;
            padding-left: 35%;
            max-width: 100%;

            em {
                display: inline-block;
            }
        }
    }
}


@media only screen and (max-width : 768px) {

    // HEADER //

    .b-content {
        padding-bottom: 483px;
    }

    .b-content_error {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .b-content_splash,
    .b-content_project {
        padding-bottom: 0;
    }

    .b-header_project {
        .b-logo {
            float: right;
        }
    }

    .b-header {
        background-color: $bg;
    }

    .b-header__block-logo {
        width: 190px;
    }

    .b-header__block-nav {
        height: 131px;
        width: initial;

        .b-header__button {
            display: none;
        }

        ul {
            display: none;
        }

        .b-button {
            display: block;
            width: 70px;
            height: 49px;
            float: right;
            margin: 41px 52px 0 0;
            cursor: pointer;
            position: relative;
            z-index: 20;
            @include transition (height 0s ease 0s);

            span {
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: 70px;
                height: 1px;
                background-color: $text;
                margin-top: -1px;
                opacity: 1;
                @include transition (opacity 0.4s ease 0s);

                &:before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $text;
                    content: '';
                    @include transform (translateY(2400%));
                    @include transition(transform 0.4s ease 0s);
                }

                &:after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $text;
                    content: '';
                    @include transform (translateY(-2400%));
                    @include transition(transform 0.4s ease 0s);
                }
            }
        }

        .b-button.open {
            margin-top: 41px;

            span {
                background-color: transparent;

                &:after {
                    @include rotate (45deg);
                }

                &:before {
                    @include rotate (-45deg);
                }
            }
        }
    }

    .b-header_project {
        .b-header__block-nav {
            height: 64px;

            .b-button {
                width: 45px;
                height: 33px;
                margin-top: 15px;

                span {
                    width: 45px;

                    &:before {
                        @include transform (translateY(1500%));
                    }

                    &:after {
                        @include transform (translateY(-1500%));
                    }
                }
            }

            .b-button.open {
                span {

                    &:before {
                        @include rotate (-45deg);
                    }

                    &:after {
                        @include rotate (45deg);
                    }
                }
            }
        }
    }

    .b-mobile-menu {
        display: table;
    }

    // FOOTER //

    .b-footer {
        padding: 70px 0 86px;
    }

    .b-footer__block {
        text-align: center;
    }

    .b-footer__logo {
        @include sprite-link(logo-mobile-small);
        float: none;
        display: inline-block;
        margin-top: 0;
    }

    .b-footer__contact {
        float: none;
        margin-top: 75px;

        p {
            font-size: 20px;
            line-height: 32px;
        }

        a {
            font-size: 23px;
            margin-top: 50px;
        }
    }

    .b-footer_project {
        padding: 17px 0 17px 0;

        .b-footer__project {
            width: 96%;
        }
    }

    // HOME PAGE //

    .b-content_home {
        padding-bottom: 0;
    }

    .b-slide_home-page,
    .b-block-top-img {
        height: 400px;
    }

    .b-home-preview__item {
        .b-home-preview__item-img {
            float: none;
            width: 100%;
            height: 250px;
        }

        .b-home-preview__item-content {
            float: none;
            width: 100%;
            overflow: hidden;
            height: 250px;

            span {
                margin-top: 55px;
            }
        }
    }

    .b-slider-nav {
        h3 {
            width: 96%;
            text-align: center;
        }

        ul {
            float: none;
            margin-top: 40px;
            text-align: center;
        }

        .b-slider-nav__block {
            width: 96%;
        }
    }

    // SERVICES PAGE //

    .b-content_services {
        padding-bottom: 0;
    }

    .b-block-bottom-content {
        padding-top: 0;
        height: inherit;
        text-align: center;
    }

    .b-block-bottom-content__left {
        float: none;
        width: 100%;

        .b-block-bottom-content__left-top {
            float: none;
            margin: 15px 0 0 0;

            span {
                display: block;
            }

            ul {
                display: inline-block;
                text-align: left;
            }
        }

        .b-block-bottom-content__left-bottom {
            float: none;
            margin: 15px 0 0 0;
        }
    }

    .b-block-bottom-content__right {
        float: none;
        width: 100%;

        .b-block-bottom-content__right-top {
            margin: 15px 0 0 0;
        }

        .b-block-bottom-content__right-bottom {
            margin: 15px 0 0 0;
        }
    }

    // PORTFOLIO PAGE //
    .b-content_portfolio {
        padding-bottom: 0;
    }

    .b-portfolio-item {
        margin-bottom: 56px;

        .b-portfolio-item__img {
            height: 342px;
        }

        .b-portfolio-item__text {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 50px;

            span {
                font-size: 32px;
                margin-top: 55px;
            }

            h3 {
                font-size: 26px;
                max-width: 540px;
                line-height: 34px;
            }

            a {
                width: 71px;
                height: 71px;
                margin-top: 33px;

                &:after {
                    @include sprite-link(portfolio-link_mobile);
                    margin: -13px 0 0 -7.5px;
                }
            }
        }
    }

    // SPLASH PAGE //

    .b-header_splash,
    .b-footer_splash {
        display: block;
    }

    .b-content_splash {
        margin-top: 131px;
        height: initial;
    }

    .b-index-page__left {
        width: 100%;
        float: none;
        height: 365px;
    }

    .b-index-page__right {
        width: 100%;
        float: none;
        height: 675px;
    }

    // ABOUT PAGE //

    .b-content_about {
        padding-bottom: 40px;
    }

    .b-block-bottom-content__left_about {
        width: 96%;
        margin: 0 auto;
    }

    .b-block-bottom-content__left-top_about {
        span {
            max-width: 100%;
        }
    }

    .b-block-bottom-content__left-bottom_about {
        p {
            max-width: 100%;
        }
    }

    // CONTACT PAGE //

    .b-block-contact {
        text-align: center;
        margin: 0 auto;
    }

    .b-content_contact {
        padding-bottom: 0;
    }

    .b-block-contact-form {
        max-width: 96%;
        margin: 70px auto 0;

        input {
            max-width: 96%;
            padding: 0 2%;
        }

        textarea {
            max-width: 96%;
            padding: 2%;
        }

        .b-select-bock {
            max-width: 100%;
        }

        select {
            max-width: 100%;
            padding: 0 2%;
        }

        button {
            margin-left: 0;
            max-width: 100%;
        }

        .chosen-container-single {
            max-width: 100%;
        }

    }

    .b-block-bottom-content_contact {
        margin-top: 20px;

        h3 {
            margin: 70px 0 39px 0px;
        }
    }

    .b-error-container__right {
        p {
            text-align: center;
            padding-left: 0;
        }
    }
}

@media only screen and (max-width : 500px) {

    .b-mobile-menu {

        ul {
           li {
             margin-top: 15px;
           }
        }
    }

    .b-block-contact__address,
    .b-block-contact__phone {
        display: block;
        margin: 0 auto;
    }

    // HEADER //

    .b-header__block-nav {
        .b-button {
            margin: 41px 25px 0 0;
        }
    }

    // HOME PAGE //

    .b-slide_home-page,
    .b-block-top-img {
        height: 300px;
    }

    // SPLASH PAGE //

    .b-index-page__left {
        div {
            a {
                margin-top: 20px;
            }
        }
    }

    // 404 PAGE //
    .b-error-container__left {
        p {
            font-size: 35vw;

            em {
                font-size: 6vw;
            }
        }
    }
}
