@mixin sprite-link($sprite, $hover-sprite: null) {
    display: block;
    width: image-width("sprites/#{$sprite}.png");
    height: image-height("sprites/#{$sprite}.png");

    @if file_exists("sprites/#{$sprite}.svg") {
        .no-svg & {
            background-image: generated-image-url("sprites.png");
            background-position: sprite-position( $sprites-sprites, $sprite );
            background-size: auto auto;
            @if $hover-sprite != null {
                &:hover {
                    background-position: sprite-position( $sprites-sprites, $hover-sprite );
                    background-size: auto auto;
                }
            }
        }
        background-image: inline-image("sprites/" + $sprite + ".svg");
        background-size: sprites-sprite-width($sprite) sprites-sprite-height($sprite);
        @if $hover-sprite != null {
            &:hover {
                background-image: inline-image("sprites/" + $hover-sprite + ".svg");
                background-size: sprites-sprite-width($hover-sprite) sprites-sprite-height($hover-sprite);
            }
        }
    } @else if file_exists("sprites/#{$sprite}_2x.png") {
        @include sprites-sprite($sprite);

        @media (min--moz-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx) {
            background-image: generated-image-url("sprites/#{$sprite}_2x.png");
            background-position: 0 0;
            background-size: sprites-sprite-width($sprite) sprites-sprite-height($sprite);
            @if $hover-sprite != null {
                &:hover {
                    background-position: sprite-position( $sprites-sprites, $hover-sprite + "_2x");
                    background-size: sprites-sprite-width($hover-sprite) sprites-sprite-height($hover-sprite);
                }
            }
        }

    } @else {
        background-image: generated-image-url("sprites.png");
        background-position: sprite-position( $sprites-sprites, $sprite );
        @if $hover-sprite != null {
            background-position: sprite-position( $sprites-sprites, $hover-sprite );
        }
    }
}

@mixin centered ($widthMax: 1600px) {
    max-width: $widthMax;
    margin: auto;
}
@mixin hidden {
    @include opacity(0);
    visibility: hidden;
}

@mixin visible {
    @include opacity(1);
    visibility: visible;
}

@mixin clearfix {
    clear: both;
}
